/* The Modal (background) */
body {
	display: none;
}
.modal {
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /*background-color: rgb(0,0,0);*/ /* Fallback color */
    /*background-color: rgba(0,0,0,0.4);*/ /* Black w/ opacity */
	z-index: 10;
    display: none; /* Hidden by default */
    box-sizing: border-box;
}

/* Modal Content */
.modal_content {
    /*background-color: #fefefe;*/
    background-color: transparent;
    margin: auto;
    padding: 20px;
    /*border: 1px solid #888;*/
    width: 80%;
}

/* The Close Button */

.close {
    color: #2c3a46;
    float: right;
    font-size: 28px;
    font-weight: bold;
    background-color: transparent;
    opacity: .6;
}


.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.clogin {
	
	display: flex;
    align-items: center;
    flex-direction: column;
}
.cregister {
	
    display: flex;
    align-items: center;
    flex-direction: column;
}
.form {
	background: #2c3a46;
}

/* Hacemos que la posiciÃģn en pantalla sea fija para que siempre se muestre en pantalla*/
/* Establecemos la barra en la izquierda */
/* Utilizamos la propiedad z-index para que no se superponga algÃšn otro elemento como sliders, galerÃ­as, etc */
 /* Bajamos la barra 200px de arriba a abajo */
.dasboard {
position: fixed; 
left: 0; 
top: 200px;
z-index: 2000; 
}

.dasboard ul {
	list-style: none;
	padding-left: 0;
}

.dasboard ul li > a {
	display: inline-block;
	color:#fff;
	background: #000;
	padding: 10px 15px;
	text-decoration: none;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease; /* Establecemos una transiciÃģn a todas las propiedades */
}

/* Establecemos los colores de cada red dasboard, aprovechando su class */
.dasboard ul li .glyphicon-list-alt:hover {background:#3b5998;} 
.dasboard ul li .glyphicon-user:hover {background: #00abf0;}
.dasboard ul li .icon-googleplus:hover {background: #d95232;}
.dasboard ul li .icon-pinterest:hover {background: #ae181f;}
.dasboard ul li .glyphicon-bell:hover {background: #ae181f;}
.dasboard ul li .glyphicon-calendar:hover {background: #d2d2d2;}
.spanhover:hover{
    color: #fff
}



.dasboard ul li a:hover {
	/*background: #000;*/ /* Cambiamos el fondo cuando el usuario pase el mouse */
	/*padding: 10px 30px;*/ /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
}

.jobs-store {
	
    width: 84%;
    position: fixed;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    align-items: center;
   top: 68px;
   padding-top: 50px;
   padding-bottom:  50px;
   display: none;

}

.form-create-job {
	 width: 88%;
}
 #calendar {
 	display: block;
    
    margin: 0 auto;
 }

 .events-store {
	
    width: 84%;
    position: fixed;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    align-items: center;
   top: 48px;
   padding-top: 50px;
   padding-bottom:  50px;
   /* position: relative;
    position: absolute;*/
   

}

.table > tbody > tr> td>  input {

width: 100px;
    border: none;
}

.inline-form {
	display: inline;
}

textarea {
    border:none;
}
.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
  font-family: "Titillium Web",sans-serif;
  font-weight: 400;
  color: #333;
  text-transform: none;
}
.btn-facebook {
  background: #3b5998;
  color: #fff;
}
.btn-facebook:hover {
    background: #344e86;
    color: #fff;
}
.btn-google {
    background: #dd4b39;
    color: #fff;
}
.btn-google:hover {
    background: #d73925;
    color: #fff;
}
.nlogin li a {
    font-family: "Titillium Web",sans-serif;
        font-weight: 400;
    line-height: 1.5;
    font-size: 10px;
        color: #4d749d;
        text-align: right;
        font-size: 11px !important;
}
span.menu-login {
    
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #fff;
    background: #fff;
    color: #666;
}

    [type=file] {
        color:transparent;
    }

    .form-control2 {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

.form-control2 {
    color: #97a7b4;
    font-size: 17px;
    font-weight: 300;
    /* min-width: 100px; */
    min-height: 40px;
    border-radius: 0;
    box-shadow: none;
    border-color: #3b4e5f;
    background: transparent;
    width: 100%;
    border-width: 1px;
}
.form-control3 {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control3 {
    color: #97a7b4;
    font-size: 17px;
    font-weight: 300;
     min-width: 100px; 
    min-height: 50px;
    border-radius: 0;
    box-shadow: none;
    border-color: #3b4e5f;
    background: transparent;
    
    border-width: 1px;
}
textarea.form-control3 {
    height: auto;
}

.nav1 > li {
    float:left;
}

.nav1 li a {
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
}

.nav1 li a:hover {
    background-color:#434343;
}

.nav1 li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav1 li:hover > ul {
    display:block;
}

.nav1 li ul li {
    position:relative;
}

.nav1 li ul li ul {
    right:-140px;
    top:0px;
}

.ulcalendar {
    display:none;
}
.uljob {
    display:none;
}

.uluser {
    display:none;
}
.uljob li a:hover {
    background-color: #3b5998;     
}
.ulcalendar li a:hover {
    background-color:  #d2d2d2;     
}

.uluser li a:hover {
    background-color: #00abf0;     
}

/*.dasboard ul li .glyphicon-list-alt:hover {background:#3b5998;} 
.dasboard ul li .glyphicon-user:hover {background: #00abf0;}
.dasboard ul li .glyphicon-calendar:hover {background: #d2d2d2;}
*/